VITE_MQTT_WS_URL=ws://192.168.2.68:8083/mqtt
VITE_MQTT_PLANT_TOPIC_PREFIX=plants/live
VITE_MQTT_CLIENT_ID=frontend-web-client-123
VITE_MQTT_USERNAME=frontend-web-client
VITE_MQTT_PASSWORD=frontend-secure-password-2024
